{% extends 'base.html' %}
{% block content %}
<div class="container">
        <header>
            <div class="col-8 " >
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <form method="post">
                            {% csrf_token %}
                            <p> Хотите удалить пост {{ object.title }} ?</p>
                            <button type="submit" class=" btn btn-secondary btn-primary" >
                                Подтвердить
                            </button>
                            <a class="btn btn-secondary btn-primary" type="button" href="{% url 'blog:blog_list' %}">Отменить</a>
                        </form>
                    </div>
                </div>
            </div>
        </header>
</div>
{% endblock %}
