{% extends 'base.html' %}
{% block content %}
<div class="container">
    <form class='row' method="post" enctype="multipart/form-data">
            <div class="col-6">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                        <h1 class="display-4">Регистрация</h1>
                    </div>
                    <div class="card-header py-3">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class=" btn btn-secondary btn-primary" >
                                Регистрация
                            </button>
                    </div>
                </div>
            </div>
    </form>
</div>
{% endblock %}
