{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
        <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">{{ product.name }}</h1>
        </div>
        <div class="container">
            <div class="row text-start">
                <div class="col-lg-9 col-md-6 col-sm-12">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <div class="card" style="width: 18rem;">
                                <img src="{{ product.image | media_filter }}" class="card-img-top" alt="...">
                            </div>
                            <table class="table table-striped">
                                <tr>
                                    <td>описание: {{ product.description }}</td>
                                    <td>цена: {{ product.price }}p.</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}



